.navbar{
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid black;
    position: fixed;

    
}

.acm-logo{
    width: 200px;
    border-radius:50%;
}

.grid-item1{
    background-image: url("https://i.pinimg.com/originals/65/9c/9b/659c9bf7b5f170e1a97474ce04562019.jpg");
    background-size: 200px 200px;
    
}